.background {
  background-color: rgb(211, 211, 211);
  width: 100%;
}

main {
  margin: auto;
}

/* NAV */

.navBar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex: 1 1 auto;
  width: screen;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.navBarButtons {
  text-transform: uppercase;
  color: black;
  text-decoration-line: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 900;
}

.navBarButtons:hover {
  color: rgb(67 56 202);
}

/* MENU */

.menuSection1 {
  position: relative;
  min-width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-color: rgb(229 231 235);
  padding: 1rem;
}

.menuSection2 {
  min-width: 100%;
  vertical-align: middle;
}

.tableSection {
  min-width: 100%;
}

tbody {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

td {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-top: 0.5rem;
}

tr {
  border: 1px solid rgb(205, 205, 205);
  background-color: white;
}

.inStock {
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: rgb(220 252 231);
  color: rgb(22 101 52);
  padding-left: 1rem;
  padding-right: 1rem;
}
.noStock {
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: rgb(254 226 226);
  color: rgb(153 27 27);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* TEXT */

h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 900;
  color: rgb(79 70 229);
}

h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

p {
  color: black;
}

/* BUTTONS */

.orderDetails {
  margin: 1;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: rgb(79 70 229);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.orderDetails:hover {
  background-color: rgb(67 56 202);
}

.addToOrder {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: rgb(79 70 229);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.addToOrder:hover {
  background-color: rgb(67 56 202);
}

.REDorderDetails {
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: rgb(254 202 202);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: rgb(186, 61, 61);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* NOTE: Modal and Footer are both using tailwind utility classes */
